---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Movies from '../components/allmovies';


---

<Layout title="Hector's rust fullstack">
	<main>
        <Nav/>
        <Movies/>
	</main>
</Layout>

