---

---

<div class="text-3xl font-bold text-teal-700">
    <div class="flex justify-end pr-5">
        <a class="px-1" href="/">Home</a>
        <a class="px-1"  href="/about">About</a>
        <a class="px-1" href="/test">Test</a>
    </div>
</div>
